.container {
  width: 48px;
  height: 48px;
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  & svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
  }
}
