@import "../../../styles/mixins/responsive.scss";

.hero {
  width: 100%;
  min-height: 60vh;
  padding: 7rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  @include MenuMobile {
    flex-direction: column;
    gap: 5rem;
  }

  img {
    width: min(100%, 350px);
    height: auto;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      var(--background-color-alternative) 1%,
      var(--primary-color) 100%
    );
    border: 5px solid var(--text-color);
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;

  h1 {
    font-size: clamp(2.5rem, 1rem + 5vw, 4rem);
    font-weight: 900;
    line-height: 1.2;
    color: var(--headline-color);
    font-family: var(--font-playfair);
  }

  p {
    font-size: clamp(1.8rem, 1rem + 1vw, 2.4rem);
    line-height: 1.5;
  }
}
